.loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8) url('../images/preloader.svg') no-repeat center;
    border-radius: 10px;
}